@page "/"

<h1>Opis aplikacji</h1>

<p>
    W przyszłości dodam możliwość logowania i wraz z nią rekordy email oraz hasło.<br>
    Na ten moment w zakładce Category, aplikacja pozwala tworzyć, edytować, usuwać kategorię kontaktów.<br>
    Dzięki relacji id między kategorią a kontakami, można w kontaktach wybierać utworzone kategorie.<br>
    W zakładce Contacts można dodawać, edytować, usuwać kontakty (nazwa, kategoria, data urodzenia, numer telefonu, zdjęcie)<br>


</p>



Aplikant: Dawid Krefft

